body {
    background: url("image1.png"); 
    font: 1em;
    background: url("image2.png"); 
}


#main {
    background-image: url("image3.png");
}


#main {
    background: transparent url("image4.png") no-repeat center center, transparent url("image5.png") no-repeat center center, transparent url("image6.png") no-repeat center center;
}